body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  min-height: 100vh;
  background-color: #f4f4f4;
  padding: 50px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.card {
  width: 300px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.2s;
  padding: 10px;
  box-sizing: border-box;
}

.card:hover {
  transform: translateY(-5px);
}

.card-header img {
  width: calc(300px - 20px);
  height: calc(300px - 20px);
  object-fit: contain;
}

.card-body {
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}

model-viewer {
  width: 100px;
  height: 100px;
  border: solid black 1px;
}
